<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Paranoid</title>
</head>
<body>
<pre>
                             PARANOID SOCIAL NETWORK
                  ____  ___    ____  ___    _   ______  ________ 
                 / __ \/   |  / __ \/   |  / | / / __ \/  _/ __ \
                / /_/ / /| | / /_/ / /| | /  |/ / / / // // / / /
               / ____/ ___ |/ _, _/ ___ |/ /|  / /_/ // // /_/ / 
              /_/   /_/  |_/_/ |_/_/  |_/_/ |_/\____/___/_____/  
            
           An opensource social network created by Rubén Arriazu Simón

<a href="https://github.com/RubenRubens/paranoid_android">Android source code</a>
<a href="https://github.com/RubenRubens/paranoid_backend">Backend source code</a>


This site complains with the EU General Data Protection Regulation. If you have any
problem with your account send an email to <em>ruben.arsi@protonmail.ch</em>.

The services are provided exclusively to individuals who are at least 18 years of age.

You agree not to use the Services for any illegal or prohibited activities. If you do so,
it will be reported to the authorities of France, Spain or any other country involved.

The owner of this site does not make any warranty about the reliability of the services or
guarantee the security of user data. The Service is provided “as is” and should not be
used for transmitting any sensible information.


                    -------------------------------------
                    This site is hosted at Paris, France.
                                    🇫🇷 🇪🇺
</pre>
</body>
</html>
